# Resend Email Configuration
APP_URL=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_FROM_NAME=
TO_EMAIL=

# Database Configuration
DB_HOST=127.0.0.1
DB_NAME=bois_chauffage_b2b
DB_USER=root
DB_PASS=


HERE_API_KEY=
